<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".fbx" mimeType="application/fbx" />
            <mimeMap fileExtension=".dds" mimeType="image/vnd-ms.dds" />
            <mimeMap fileExtension=".svf" mimeType="image/vnd.dwg" />
            <mimeMap fileExtension=".pf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pack" mimeType="application/octet-stream" />
            <remove fileExtension=".json"/>
            <mimeMap fileExtension=".json" mimeType="application/octet-stream" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
