body{
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
#guiviewer3d-toolbar {
  top: 8px !important;
  /* left:230px !important; */
  height: 50px;
 }

.adsk-control-group {
  margin: 0 !important;
  box-shadow: 0px 0px 0px transparent !important;
  background: transparent !important; }

.adsk-control-group > .adsk-button {
  margin: 4px 0 0 8px !important;
  border-radius: 50% !important;
  background: #97B8C2;
  width: 40px;
  height: 40px; }
  .adsk-control-group > .adsk-button:hover, .adsk-control-group > .adsk-button:focus, .adsk-control-group > .adsk-button:active {
    background: #4CB5F5; }

.adsk-button-icon {
  font-size: 32px !important; }

.adsk-button-arrow {
  top: -6px !important;
  right: -5px !important; }
  .adsk-button-arrow:hover {
    background: transparent; }

.adsk-button > .toolbar-vertical-group {
  top: 110% !important; }

.adsk-control-tooltip {
  bottom: -25px !important; }

.explode-submenu.ios {
  margin-top: 60px !important;
  left: 40% !important; }
#custToolbar>.adsk-button>.custermer-markup {
    width: 32px;
    height: 32px;
    margin: 2px auto;
    background: url("../img/bim/pencil.svg") no-repeat;
    background-size: contain;
}  

.dockingPanel {
  z-index: 999;
}

.dockingPanelScroll{
  overflow-x: auto;
}
.dockingPanelScroll.left {
  direction: ltr;/* rtl; */
}

.propertyPanel {
  word-break: break-all;
}

#settingsTools>.adsk-button>.building{
  width: 36px;
  height: 36px;
  margin: 3px auto;
  background: url('../img/bim/building.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#settingsTools>.adsk-button>.floor{
  width: 32px;
  height: 32px;
  margin: 3px auto;
  background: url('../img/bim/floor.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#settingsTools>.adsk-button>.mouse{
  width: 32px;
  height: 32px;
  margin: 3px auto;
  background: url('../img/bim/mouse.svg');
  background-size: contain;
  background-repeat: no-repeat;
}
.dots {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 9999;
}
.dots>button{
  background: transparent;
  border: 0;
  cursor: pointer;
}

.dots>button:focus {
  outline: 0;
}

.adsk-toolbar{
  text-align: center;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}

.gotoback{
  float: right;
  z-index: 99;
  position: relative;
  top: 200px;
  font-size: 15pt;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border:1px solid transparent;
  line-height: 20px;
  cursor: pointer;
  background: #97B8C2; 
  color:#fff;
}
.gotoback:hover,
.gotoback:focus,
.gotoback:active {
      background: #4CB5F5;
}